.header-top {
  background-image: image-url('topimage.jpeg');
  background-size: cover;
}

.header-inner {
  display: flex;
  height: 100px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.header-inner a {
  text-decoration: none;
  color: white;
}

.header-navi {
  text-align: right;
  display: flex;
}

.content {
  padding: 12px 20px 0 20px;
}

.contact {
  margin: 0px 20px;
  border: 2px solid white;
  padding: 10px;
}

.header-center {
  color: white;
  padding: 20px 20px 200px 20px;
  text-align: center;
}


.footer-top {
  background-color: lightgray;
  height: 100px;
}

.footer-inner {
  background-color: #1f1f1f;
  color: white;
  display: flex;
  text-align: center;
  height: 200px;
  justify-content: center;
  align-items: center;
}
