<div class="header-top">
  <div class="header-inner">
    <h1><a href="http://localhost:3000">APPETIZER</a></h1>
    <div class="header-navi">
      <div class="content">
        <a href="http://localhost:3000">HOME</a>
      </div>
      <div class="content">
        <a href="#">YOUTUBE</a>
      </div>
      <div class="content">
        <a href="#">WORK</a>
      </div>
      <div class="content">
        <a href="#">STORE</a>
      </div>
      <div class="contact">
        <a href="#">CONTACT</a>
      </div>
    </div>
  </div>
  <div class="header-center">
    <h2>APPETIZREとは、お酒を家でもとことん楽しんで飲むために作られた<br>日本初の日本政府非公認サイトです。(多分)</h2>
  </div>
</div>





<div class="footer">
  <div class="footer-top">
  </div>
  <div class="footer-inner">
    <span>APPETIZER, LCC</span>
  </div>
</div>